@using Identity.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Log In";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title | Identity</title>
    <!-- CSS -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/form-elements.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet"/>

    <link rel="shortcut icon" href="~/Content/Icons/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/Icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/Icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/Icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/Icons/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>Bootstrap</strong> Login Form</h1>
                        <div class="description">
                            <p>
                                This is a free responsive login form made with Bootstrap.
                                Download it on <a href="http://azmind.com"><strong>AZMIND</strong></a>, customize and use it as you like!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Login to our site</h3>
                                <p>Enter your username and password to log on:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "login-form", role = "form"}))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new {@class = "sr-only"})
                                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @placeholder = "Email Address..."})
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new {@class = "sr-only"})
                                    @Html.PasswordFor(m => m.Password, new {@class = "form-control", @placeholder = "Password..."})
                                </div>
                                <input type="submit" value="Log in" class="btn btn-default"/>
                                @Html.ActionLink("Register as a new user", "Register")
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 social-login">
                        <h3>...or login with:</h3>
                        <div class="social-login-buttons">
                            <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
                            <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                            <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                                <i class="fa fa-google-plus"></i> Google Plus
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Javascript -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/jquery.backstretch.min.js"></script>
    <script src="~/Scripts/scripts.js"></script>
</body>
</html>
